@model IEnumerable<IGrouping<MVCProyectoPNT.Entity.RepositorioArchivos, MVCProyectoPNT.Entity.Archivo3D>>

@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p class="lead">Seleccione una opción para continuar:</p>
    <div class="btn-group" role="group" aria-label="Opciones">
        <a asp-controller="User" asp-action="Index" class="btn btn-primary">Ver la lista de usuarios</a>
        <a asp-controller="Archivo3D" asp-action="Create" class="btn btn-success">Subir un archivo</a>
        <a asp-controller="RepositorioArchivos" asp-action="Create" class="btn btn-info">Crear un repositorio</a>
    </div>
</div>

<div class="container mt-5">
    @foreach (var grupo in Model)
    {
    <h3>@grupo.Key.Nombre</h3>
    <div class="row">
        @foreach (var archivo in grupo)
        {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@archivo.Nombre</h5>
                    <p class="card-text">@archivo.Descripcion</p>
                    <p class="card-text"><small class="text-muted">Dueño: @archivo.Usuario.Email</small></p>
                    <p class="card-text"><small class="text-muted">Formato: @archivo.Formato</small></p>
                    <p class="card-text"><small class="text-muted">Tamaño: @archivo.Tamano</small></p>
                    <a asp-controller="Archivo3D" asp-action="Details" asp-route-id="@archivo.Id" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
        }
    </div>
    }
</div>

<style>
    .text-center {
        margin-top: 50px;
    }
    .btn-group {
        margin-top: 20px;
    }
    .btn {
        margin: 5px;
    }
    .card {
        margin-top: 20px;
    }
</style>