@model MVCProyectoPNT.Entity.Archivo3D

@{
ViewBag.Title = "Detalles del Archivo 3D";
Layout = "_Layout";
}

<h2>Detalles del Archivo 3D</h2>

<div>
    <h4>Archivo3D</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tamano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tamano)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ruta)
        </dd>
        <dt class="col-sm-2">
            Foto
        </dt>
        <dd class="col-sm-10">
            <img src="~/@Model.FotoRuta" alt="Foto" style="max-width: 200px;" />
        </dd>
        <dt class="col-sm-2">
            Documento
        </dt>
        <dd class="col-sm-10">
            <a href="~/@Model.DocumentoRuta" download>Descargar Documento</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>